// ** MAIN PALETTE **

$palette-1: #11151C;
$palette-2: #212D40;
$palette-3: #364156;
$palette-4: #7D4E57;
$palette-5: #D66853;

// ** BUTTONS **

$link: #D66853;
$info: #7D8CAA;
$success: $palette-5;
$warning: $palette-4;
$danger: $palette-3;

// ** SHADES OF BLACK AND WHITE **

$my_black: #131510;
$my_white: #F7F8F7;

// ** SHADOW **

// ** THEMING BULMA **

// Colors
$primary: $palette-3;

// Backgrounds
$scheme-main: $palette-4;
$navbar-background-color: $palette-1;
$footer-background-color: $palette-1;


.background-1 {background-color: $palette-1 !important;}
.background-2 {background-color: $palette-2 !important;}
.background-3 {background-color: $palette-3 !important;}
.background-4 {background-color: $palette-4 !important;}
.background-5 {background-color: $palette-5 !important;}

// Text
$text: $my_white;
$text-invert: $my_black;
$text-strong: $my_white;