// ** REGULAR **

.font_black {
  color: $my_black;
}

.font_white {
  color: $my_white;
}

.font_light_base {
  font-family: font_light;
}

.font_regular_base {
  font-family: font_regular;
}

.font_bold_base {
  font-family: font_bold;
}

.font_italic_base {
  font-family: font_italic;
}

.font_bold_italic_base {
  font-family: font_bold_italic;
}