// ** SASS IMPORTS **

@charset "utf-8";

@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';

@import './responsive_mixins';
@import './colors';
@import './fonts';
@import './typography';

// ** SITE WIDE **

html { 
  scroll-behavior: smooth;
}

// ** NAVIGATION **

.is-open {
  background-color: $palette-5;
  color: $text-invert !important;
}

// ** HERO BANNER **

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
  
.is-transparent {
  opacity: 1;
}

.hero-text {
  max-width: 50% !important;
}

// ** RESUME **

.resume-subtitle {
  border-bottom: 3px solid $palette-3;
}

.resume-item {
  border-bottom: 1px solid $palette-3;
  border-right: 1px solid $palette-3;
}

// ** SKILLS **

.skillbar {
  transform: rotate(-90deg);
  transition: all 1s ease-in-out;
  
  /* SVG */
  fill: none;
  stroke: $palette-5;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 0 999;
}

.skilltext {
  transform: rotate(90deg);
}

// ** FOOTER **

.github {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/github.png) no-repeat;
  background-size: cover;
}

.github:hover {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/github-white.png) no-repeat;
  background-size: cover;
}

.linkedin {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/linkedin.png) no-repeat;
  background-size: cover;
}

.linkedin:hover {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/linkedin-white.png) no-repeat;
  background-size: cover;
}

.instagram {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/instagram.png) no-repeat;
  background-size: cover;
}

.instagram:hover {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../img/instagram-white.png) no-repeat;
  background-size: cover;
}

@import '../node_modules/bulma/bulma';